<h1>About us</h1>
<p>We're working on our One Month Rails project.</p>
<p>I am building this app as part of the One Month Rails Project.</p>
<p>I currently work as a SAS programmer, and I would like to learn how to build web applications.</p>
<p>I live in Durham, NC.</p> 
